/* Estilos para el contenedor principal */
#container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url('/assets/fondo1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    padding: 20px;
    min-height: 100vh;
}


.card {
    height: 400px; 
    width: 250px; 
    background-color: rgb(189, 207, 209);
    border-radius: 15px;
    text-align: center;
    border: 2px solid #a0c0eb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}




@media (max-width: 768px) {
    .card {
        width: 90%; 
        margin: 10px auto;
    }
}


@media (max-width: 480px) {
    .card {
        width: 100%; 
        height: auto; 
    }
}

/* Estilo para las cards de productos */
.producto-card {
    height: 400px; 
    display: flex;
    flex-direction: column;
}


.producto-imagen {
    height: 200px;  
    width: 100%;    
    object-fit: cover;  
}


.producto-card .card-body {
    flex-grow: 1; 
}


.titulo-blanco {
    color: white;  
}
